
    <h2 class="text-center">Lista de Desarrolladores</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Nombre</th>
          <th> Edad </th>
          <th> Habilidad</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.edad}}</td>
          <td>{{usuario.habilidad}}</td>
          <td>
            <button (click)= "actualizarUsuario(usuario.id)" class="btn btn-info">Editar</button>
            <button (click)= "eliminarUsuario(usuario.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        </td>
        </tr>
      </tbody>
    </table>
