<p>actualizar-usuario works!</p>
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de usuario</h3>
    <form (ngSubmit)= "onSubmit()" #usuarioForm = "ngForm">
      <div class="form-group">
        <label>Nombre : </label>
        <input type = "text"
        class="form-control"
        id = "nombre"
        [(ngModel)] = "usuario.nombre"
        name = "nombre"
        
        >
        
      </div>
  
      <div class="form-group">
        <label>Edad : </label>
        <input type = "number"
        class="form-control"
        id = "edad"
        [(ngModel)] = "usuario.edad"
        name = "edad"
        
        >
        
       
      </div>



      <div class="form-group">
        <label>Habilidad : </label>
        <input type = "text"
        class="form-control"
        id = "habilidad"
        [(ngModel)] = "usuario.habilidad"
        name = "habilidad"
        
        >
        
      </div>

      


  
      <button class="btn btn-success" [disabled]= "!usuarioForm.form.valid">Guardar</button>
    </form>
  </div>
  